规则1：减少HTTP请求。
规则2：使用内容发布网络。
规则3：添加Expries头。
规则4：采用Gzip压缩组件。
规则5：将样式表放在顶部。
规则6：将脚本放在底部。
规则7：避免css表达式。
规则8：使用外部的javascript和css
规则9：减少DNS查询
规则10：精简JavaScript
规则11：避免重定向
规则12：删除重复的脚本。
规则13：配置ETag.
规则14：使用Ajax可缓存。
